- title = "Home"
%title
  = "#{title}"+" | Donate"
.center.jumbotron
  %h1 Welcome Human
  %h2
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, sunt dolore ipsa minima unde inventore pariatur. Dignissimos ipsa saepe est doloremque,
  = link_to "Sign up now!", "#", class: "btn btn-lg btn-primary"
