
- provide(:title, @user.name)
.row
  .col
  - if @user.donations.any?
    %h3
      My Donations (#{@user.donations.count}) 
    %ol.campaigns
      = render @user.donations
  - else 
    %h4 You do not have any donations.
    = link_to " Start donating now", campaigns_path


    -# render @campaigns will render _micropost.html for each micropost it has and send id default.
 





    -# render @campaigns will render _micropost.html for each micropost it has and send id default.
 


