
%li{:id => "campaign-#{campaign.id}"}
  %span.content= campaign.content
  = image_tag campaign.display_image if campaign.image.attached?
  %span.timestamp
    = link_to "donate", my_donations_url(current_user.id, campaign.id)


